.bleed
{
	display: flex;

	width: calc((var(--width) * var(--zoom)) + var(--bleed));
	height: calc((var(--height) * var(--zoom)) + var(--bleed));
	
	background-color: #4a4852;

	padding: var(--bleed);

	overflow: hidden;
}

.card 
{
	position: relative;

	transform-origin: top left;
	transform: scale(var(--zoom));

    width: var(--width);
	height: var(--height);
}

.background
{
	position: absolute;
	width: 100%;
	height: 80%;
	
	background-size: cover;
}

.frame
{
	position: absolute;
	width: 100%;
	height: 100%;
	
	background-image: url("img/Art/Panel.png");
	background-size: contain;
}

.art
{
	position: absolute;

	width: 100%;
	height: 100%;
}

.title
{
	position: absolute;

	width: 130%;
	height: 30%;

	left: -15%;
	top: 28mm;

	background-image: url("img/Art/Title.png");
	background-size: contain;
	background-repeat: no-repeat;
}


.name
{
	position: absolute;
	font-family: "Eras ITC", "Eras Bold ITC",  sans-serif ;
	font-weight: bold;
	font-size: 3mm;

	color: white;
	fill: white;
 
	left: 0px;
	width: 100%;
	height: 100%;
}

.description
{
	position: absolute;
	display: table;

	margin-top: 45mm;
	height: 16mm;

	width: 70%;

	margin-left:15%;
	margin-right:15%;
}

.description p
{
	display: table-cell;
	vertical-align: middle;

	font-family: "Verdana, Geneva, Tahoma", sans-serif;
	font-size: 3.5mm;

	text-align: center;
}

.health
{
	position: absolute;
	
	top:3px;
	left: 3px;
	width: 40px;
	height: 40px;
	
	background-image: url("img/Art/Class.png");

	background-size: contain;

	overflow: hidden;
}

.health p
{
	text-align: center;

	width: 100%;
	margin-top: 8px;

	font-family: "Eras ITC", "Eras Bold ITC",  sans-serif ;
	font-weight: bold;
	font-size: 20px;

	color: white;
}